<body>
	<div class="container">
		<div class="col-md-12">
			<div class="text-right">
				<button><a href="#!/viewlibang/materialproduct/create">新增</a></button>
				<!-- <a href="#!/viewlibang/dictionaryClassify/create/1">新增</a> -->
			</div>
		</div>
		<div class="col-md-12">
			<table ng-table="tableParams" class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>名称</th>
						<th>材料类型</th>
						<th>包装</th>
						<th>单价</th>
						<th>时间</th>
						<th>编辑</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="materialProduct in $data">
						<td class="active">{{ $index + 1 }}</td>
						<td class="success">{{materialProduct.name}}</td>
						<td class="info">{{materialProduct.materialClassify.name}}</td>
						<td class="success">{{materialProduct.standard}}</td>
						<td class="info">{{materialProduct.price | currency:'￥'}}</td>
						<td class="warning">{{(materialProduct.updateDate||now) | date:'yyyy-MM-dd HH:mm:ss'}}</td>
						<td class="danger"><button><a ng-href="#!/viewlibang/materialproduct/update/{{materialProduct.id}}">编辑</a></button>&nbsp;<button>删除</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>