<body>
	<div class="container">
		<div class="col-md-12">
			<div class="text-right">
				<a class="btn btn-info" href="#!/viewlibang/artificialfee/create">新增</a>
			</div>
			<br><br>
		</div>
		<div class="col-md-12">
			<table ng-table="tableParams" class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>名称</th>
						<th>字典类型</th>
						<th>类型</th>
						<th>单位</th>
						<th>单价(元)</th>
						<th>最低收费(元)</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="artificialFee in $data">
						<td>{{ $index + 1 }}</td>
						<td>{{artificialFee.name}}</td>
						<td>{{artificialFee.dictionaryClassify.name}}</td>
						<td>{{artificialFee.style}}</td>
						<td>{{artificialFee.standard}}</td>
						<td>{{artificialFee.price}}</td>
						<td>{{artificialFee.lowFee}}</td>
						<td>
							<!-- <button><a ng-href="#!/viewlibang/artificialFee/update/{{artificialFee.id}}">编辑</a></button>&nbsp;<button>删除</button> -->
							<a class="btn btn-default" ng-href="#!/viewlibang/artificialfee/update/{{artificialFee.id}}">编辑</a>
							<a class="btn btn-danger" ng-href="#!/viewlibang/artificialfee/update/{{artificialFee.id}}">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>