<style>
.input-mini {
	width: 80px;
	height: 30px;
}

.input-minier {
	width: 65px;
	height: 30px;
}
td{
	vertical-align: middle !important;
	line-height: 30px !important;
}
th{
	vertical-align: middle !important;
	line-height:30px !important;
}
</style>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<button type="button" class="btn btn-danger dropdown-toggle"
					data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					其他收费单 <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#!/viewlibang/materialmainbill/{{orderLb.id}}/0"><i class="fa fa-briefcase">&nbsp;&nbsp;主要材料单</i></a></li>
					<li><a href="#!/viewlibang/materialassistbill/{{orderLb.id}}/1"><i class="fa fa-cube">&nbsp;&nbsp;辅助材料单</i></a></li>
					<li><a href="#!/viewlibang/artificialfeebill/{{orderLb.id}}"><i class="fa fa-gavel">&nbsp;&nbsp;人工收费单</i></a></li>
					<li><a href="#!/viewlibang/orderlb/done/{{orderLb.id}}"><i class="fa fa-money">&nbsp;&nbsp;决算单</i></a></li>
				</ul>
			</div>
			<div class="col-md-6">
				<div class="text-right">
					<button class="btn btn-warning" ng-click="submit()">提交</button>
					<button class="btn btn-default" back-button>取消</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h3 class="text-center">立邦刷新服务运营商辅助材料收费单</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<b>合同编号：{{orderLb.orderNo}}</b>
			</div>
			<div class="col-md-4">
				<b>预计开工日期：{{orderLb.expectedDate}}</b>
			</div>
			<div class="col-md-4">
				<b>系统编号：{{orderLb.sysNo}}</b>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-4">
				<b>客户姓名：{{orderLb.customer}}</b>
			</div>
			<div class="col-md-4">
				<b>联系电话：{{orderLb.tel}}</b>
			</div>
			<div class="col-md-4">
				<b>小区名称：{{orderLb.uptownName}}</b>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-4">
				<b>施工地址：{{orderLb.buildAddress}}</b>
			</div>
			<div class="col-md-4">
				<!-- <b>区：{{orderLb.region}}</b> -->
			</div>
			<div class="col-md-4">
				<b>合同定金：{{orderLb.deposit}}</b>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-6" style="padding-right: 0px;">
				<table id="ltable" class="table table-bordered"
					　style="border-right: 2px solid #c1c1c1 !important;">
					<thead>
						<tr>
							<th>商品</th>
							<th>包装</th>
							<th>单价</th>
							<th>数量</th>
							<!-- <th>总价</th> -->
							<th>合计元</th>
						</tr>
					</thead>
					<tbody>
						<!-- <tr>
							<th colspan=6 style="color: #3c763d;">{{key}}</th>
						</tr> -->
						<tr ng-repeat="orderProduct in left">
							<th scope="row">{{orderProduct.productName}}</th>
							<td>{{orderProduct.standard}}</td>
							<td>{{orderProduct.price}}</td>
							<td><input class="input-minier form-control" type="number"
								ng-model="orderProduct.count" min="0"></td>
							<td>{{orderProduct.price*orderProduct.count}}</td>
							<!-- <td><input class="input-mini form-control" type="number"
								ng-model="orderProduct.total"></td> -->
						</tr>
						<tr>
							<th colspan=6></th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6" style="padding-left: 0px;">
				<table id="rtable" class="table table-bordered">
					<thead>
						<tr>
							<th>商品</th>
							<th>包装</th>
							<th>单价</th>
							<th>数量</th>
							<!-- <th>总价</th> -->
							<th>合计元</th>
						</tr>
					</thead>
					<tbody>
						<!-- <tr>
							<th colspan=6 style="color: #3c763d;">{{key}}</th>
						</tr> -->
						<tr ng-repeat="orderProduct in right">
							<th scope="row">{{orderProduct.productName}}</th>
							<td>{{orderProduct.standard}}</td>
							<td>{{orderProduct.price}}</td>
							<td><input class="input-minier form-control" type="number"
								ng-model="orderProduct.count" min="0"></td>
							<td>{{orderProduct.price*orderProduct.count}}</td>
							<!-- <td><input class="input-mini form-control" type="number"
								ng-model="orderProduct.total"></td> -->
						</tr>
						<tr>
							<th colspan=6></th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6" style="padding-right: 0px;">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<th colspan=4>辅助材料费金额总计(元)：{{getTotal('7')}}</th>
							<th colspan=2>
								<div class="input-group">
							      <div class="input-group-addon">实收</div>
							     	 <input class="input-minier form-control" type="number" ng-model="orderLb.assistPriceReal" min="0">
							      <div class="input-group-addon">元</div>
							    </div>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6" style="padding-left: 0px;">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<th colspan=6>客户确认：{{orderLb.customer}}</th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-12" style="margin-top:-21px">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<th colspan=3>客户专员：</th>
							<th colspan=3>施工队长：</th>
							<th colspan=3>录单文员：</th>
							<th colspan=3>签约日期：</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

