<style>
.input-mini {
	width: 80px;
	height: 30px;
}

.input-minier {
	width: 65px;
	height: 30px;
}
td{
	vertical-align: middle !important;
	line-height: 20px !important;
}
th{
	vertical-align: middle !important;
	line-height:30px !important;
}
</style>
<body>
	<div class="container">
    	<!-- <form name="form">
    		
    		<div id="jack"></div>
    		<button ng-click="show()">click</button>
    	</form>
    	<label>{{logo.name}}</label> -->
    	<div class="row">
			<div class="text-right">
				<button class="btn btn-warning" ng-click="submit()">提交</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h3 class="text-center">立邦刷新服务竣工决算单</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered">
					<thead>
					</thead>
					<tbody>
						<tr>
							<th>合同编号</th>
							<td colspan=3>{{orderLb.orderNo}}</td>
							<th>小区名称</th>
							<td colspan=3>{{orderLb.uptownName}}</td>
						</tr>
						<tr>
							<th>客户姓名</th>
							<td colspan=3>{{orderLb.customer}}</td>
							<th>联系电话</th>
							<td colspan=3>{{orderLb.tel}}</td>
						</tr>
						<tr>
							<th colspan=1>施工地址</th>
							<td colspan=7>{{orderLb.buildAddress}}</td>
						</tr>
						<tr>
							<th>客户专员</th>
							<td colspan=3>{{orderLb.customerCommissioner}}</td>
							<th>施工队长</th>
							<td colspan=3>{{orderLb.buildCaptain}}</td>
						</tr>
					</tbody>
						
					<tbody>
						<tr>
							<th colspan=8>材料费变更：<button input-dynamic-material value="0">添加</button></th>
						</tr>
						<tr>
							<th style="width:10%">－－</th>
							<th style="width:40%">材料名称</th>
							<th>规格</th>
							<th>单价</th>
							<th>增减数量(+/-)</th>
							<th>金额增减(用+/-表示)</th>
						</tr>
						<!-- add history -->
					</tbody>
					<tbody>
						<tr>
							<th colspan=5 class="text-right">材料费变更合计:</th>
							<th>¥{{getChangeMaterialFee()}}</th>
						</tr>
						<tr>
							<th colspan=5 class="text-right">材料费预算金额:</th>
							<th>¥</th>
						</tr>
						<tr>
							<th colspan=5 class="text-right">材料费决算金额:</th>
							<th>¥</th>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<th colspan=8>人工费变更：<button input-dynamic-man value="0">添加</button></th>
						</tr>
						<tr>
							<th style="width:10%">－－</th>
							<th style="width:40%">人工变更项目</th>
							<th>规格</th>
							<th>单价</th>
							<th>增减数量(+/-)</th>
							<th>金额增减(用+/-表示)</th>
						</tr>
						<!-- add history -->
					</tbody>
					<tbody>
						<tr>
							<th colspan=5 class="text-right">人工费变更合计:</th>
							<th>¥{{getChangeManFee()}}</th>
						</tr>
						<tr>
							<th colspan=5 class="text-right">人工费预算金额:</th>
							<th>¥</th>
						</tr>
						<tr>
							<th colspan=5 class="text-right">人工费决算金额:</th>
							<th>¥</th>
						</tr>
					</tbody>
					<tbody>
						<tr><th colspan=6>管理费及税金：</th></tr>
						<tr>
							<th colspan=3>合同预算总金额(元):</th>
							<th colspan=3>客户确认:</th>
						</tr>
						<tr>
							<th colspan=3>合同决算总金额(元):</th>
							<th colspan=3>竣工日期:</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

