<body>
	<div class="container">
		<div class="row" style="margin-bottom:20px;">
			<div class="col-md-12">
				<div class="text-right">
					<button class="btn btn-default" ng-click="back()">返回</button>
				</div>
			</div>
		</div>
		<div class="row">
			<form class="form-horizontal" name="myForm"　novalidate>
			<input type="hidden" ng-model="order.id" value="{{order.id}}">
			<input type="hidden" ng-model="order.version" value="{{order.version}}">
			<div class="col-sm-6">
				<!-- <form class="form-horizontal"　novalidate> -->
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">订单状态</label>
						<div class="col-sm-4">
							<select class="form-control" ng-model="order.orderStatus" ng-options="tt for tt in orderStatus"></select>
						</div>
						<label for="name" class="col-sm-2 control-label">系统编号</label>
						<div class="col-sm-4">
							<input type="text" ensure-unique="sysNo" class="form-control" ng-model="order.sysNo" name="sysNo" orderid="{{order.id}}"　 required>
							<span style="float:right;color:red" ng-show="myForm.sysNo.$error.sysNounique">系统编号重复!</span>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">合同编号</label>
						<div class="col-sm-10">
							<!-- <input type="text" class="form-control" name="userName" ensure-unique="username" ng-model="user.name" required> -->
							<input type="text" ensure-unique="orderNo" class="form-control" ng-model="order.orderNo" orderid="{{order.id}}" name="orderNo" >
							<span style="float:right;color:red" ng-show="myForm.orderNo.$error.orderNounique">合同编号重复!</span>
						</div>
					</div>
					<!-- <div class="form-group">
						<label for="name" class="col-sm-2 control-label">TM</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="order.orderTm">
						</div>
					</div> -->
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">客户姓名</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="order.customer">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">客户姓名</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="order.name">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">联系电话</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="order.tel">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">施工地址</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="order.buildAddress">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">施工队长</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="order.buildCaptain">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">施工队长电话</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="order.buildCaptainPhone">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">客户专员</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="order.customerCommissioner">
						</div>
					</div>
				<!-- </form> -->
			</div>
			<div class="col-sm-6">
				<!-- <form class="form-horizontal"　novalidate> -->
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">小区名称</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="order.uptownName">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">涂刷面积</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="order.brushArea">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">定金</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" ng-model="order.deposit">
						</div>
						<label for="name" class="col-sm-2 control-label">定金方式</label>
						<div class="col-sm-4">
							<!-- <input type="text" class="form-control" ng-model="order.budget"> -->
							<select class="form-control" ng-model="order.depositType" ng-options="tt for tt in payWays"> 
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">签约日期</label>
						<div class="col-sm-4">
							<datetimepicker id="signingDate" ng-model="order.signingDate" required format="Y/m/d H:i"></datetimepicker>
						</div>
						<label for="name" class="col-sm-2 control-label">预开工日期</label>
						<div class="col-sm-4">
							<datetimepicker id="expectedDate" ng-model="order.expectedDate" required format="Y/m/d H:i"></datetimepicker>
						</div>
					</div>
					<div class="form-group">
						
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">主要材料</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" ng-model="order.mainPrice" disabled>
						</div>
						<label for="name" class="col-sm-3 control-label">主要材料(实收)</label>
						<div class="col-sm-3">
							<input type="number" class="form-control" ng-model="order.mainPriceReal" disabled>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">辅助材料</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" ng-model="order.assistPrice" disabled>
						</div>
						<label for="name" class="col-sm-3 control-label">辅助材料(实收)</label>
						<div class="col-sm-3">
							<input type="number" class="form-control" ng-model="order.assistPriceReal" disabled>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">人工费</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" ng-model="order.artificialPrice" disabled>
						</div>
						<label for="name" class="col-sm-3 control-label">人工费(实收)</label>
						<div class="col-sm-3">
							<input type="number" class="form-control" ng-model="order.artificialPriceReal" disabled>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">合同总额</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" value="{{order.mainPrice+order.assistPrice+order.artificialPrice}}" disabled>
						</div>
						<label for="name" class="col-sm-3 control-label">合同总额(实收)</label>
						<div class="col-sm-3">
							<input type="number" class="form-control" value="{{order.mainPriceReal+order.assistPriceReal+order.artificialPriceReal}}" disabled>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">合同总额(决算)</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" value="{{order.grossFinal}}" disabled>
						</div>
						<label for="name" class="col-sm-3 control-label">管理费及税金</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" ng-model="order.budget">
						</div>
					</div>
					<!--  -->
				<!-- </form> -->
			</div>
			<div class="col-md-12 text-center">
				<input type="submit" ng-click="submit(order)" class="btn btn-warning"  ng-disabled="all" value="提交"><!-- ng-disabled="myForm.$invalid" -->
			</div>
			</form>
		</div>
		<div class="row">
			
		</div>

	</div>
</body>